@charset "UTF-8";

* {
    box-sizing: border-box;
}

:root{
    --color_0: #000000;
    --color_1: #441b0d;
    --color_2: #693418;
    --color_3: #9a5c27;
    --color_4: #d38e3b;
    --color_5: #eac84a;
    --color_6: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color_1);
}

.all {
    width: 100%;
    height: 100vh;
}

@keyframes crescer_nav {
    100% {
        height: 100px;
    }
}

@keyframes mudar_a {
    0%{
        color: var(--color_1);
    }

    100%{
        color: var(--color_6);
    }
}

.nav{
    width: 100%;
    height: 0px;
    background-color: var(--color_2);
    animation: crescer_nav both 1s .5s;
}

    .nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }

        .nav ul li {
            height: 100%;
            display: flex;
            align-items: center;
        }

            .nav ul li a {
                text-decoration: none;
                color: var(--color_6);
                position: relative;
                animation: mudar_a both 1s .5s;
            }

            .nav ul li a::after{
                content: "";
                position: absolute;
                width: 0%;
                height: 1.5px;
                background-color: var(--color_6);
                top: 0;
                right: 0;
                transition: all .5s ease;
            }

            .nav ul li a::before{
                content: "";
                position: absolute;
                width: 0%;
                height: 1.5px;
                background-color: var(--color_6);
                bottom: 0;
                left: 0;
                transition: all 1s ease;
            }

            .nav ul li a:hover::after,
            .nav ul li a:hover::before{
                width: 100%;
            }


.listas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    background-color: var(--color_1);
}

    .calculadora{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .inputs{

        }

        .left {
            width: 20%;
            height: 100%;
            background-color: var(--color_1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-right: 1px solid var(--color_0);
        }
            .left ul {
                margin: 0;
                height: auto;
                width: 100%;
                list-style: none;
                position: relative;
                padding: 0;
            }

                .left ul li {
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .left ul li h3 {
                        text-align: center;
                        margin: 0;
                    }

                    .left ul li h3 .labels{
                        color: var(--color_4);
                        cursor: pointer;
                    }

            
            


        .right {
            width: 80%;
            height: 100%;
        }

            .right ul {
                list-style: none;
            }


